h2, #wrapper {
    font-family: 'Source Sans Pro', sans-serif;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

a:hover {
    text-decoration: none;
}

#wrapper {
    max-width: 940px;
    min-height: 475px;
    margin: 0 auto;
    padding: 0 5%;
    margin-top: 80px;
}

.socialmedia img {
    width: 40px;
    height: auto;
    margin: 0 5px;
}

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
    font-family: 'Josefin Sans', sans-serif;
}

footer {
    font-size: .75em;
    text-align: center;
    padding-top: 50px;
    color: #585858;
    clear: both;
}

.bye {
    text-align: right;
}

header {
    position: fixed;
    top: 0px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
    background-color: #fff;
    z-index: 1;
}

a:hover {
    transition: all 0.3s ease;
}

.my {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
}

#logo {
    text-align: center;
    margin: 0;
}

a {
    color: #0A0A2A;
}




nav {
    margin-top: 0;
    height: 100%;
}

nav a {
    font-weight: 800;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}

body {
    scroll-behavior: smooth;
}

#half {
    width: 100%;
    height: auto;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background: lightgray;
    list-style: none;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: .75em;
}

.selected {
    color: #ccc;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

nav a, nav a:visited{
    color: #666;
}

nav a.selected, nav a:hover {
    color: #000;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    display: block;
    background-image: url('../img/mail.png')
}

.contact-info li.hello a {
    display: block;
    background-image: url('../img/hello.png')
}

.contact-info li.hi a {
    display: block;
    background-image: url('../img/hi.png')
}

.contact-info li.hola a {
    display: block;
    background-image: url('../img/download.png')
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    display: block;
    background-image: url('../img/mail.png')
}

.contact-info li.hello a {
    display: block;
    background-image: url('../img/hello.png')
}

.contact-info li.hi a {
    display: block;
    background-image: url('../img/hi.png')
}

.contact-info li.hola a {
    display: block;
    background-image: url('../img/download.png')
}

.facebook, .google, .insta, .twitter {
    width: 20px;
    height: auto;
    margin: 0 5px;
}

footer {
    background-color: #D8D8D8;
    padding: 1em 0em;
    position: relative;
}

p.par {
    border-style: solid;
    display: block;
    border-radius: 8%;
    border-width: 2px;
    text-align: auto;
    color: white;
    border-color: white;
}

.logo, .mug, .plant {
    display: block;
    height: 50px;
    opacity: 0.5;
    transition: all 0.3s ease;
    margin: 5px;
}

.logo {
    background-image: url('../img/Logo.png');
    background-size: 30px 50px;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.logo:hover, .mug:hover, .plant:hover {
    opacity: 1;
    -webkit-transform: rotateZ(-3600deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
}

.logo:hover {
    background-image: url('../img/Logo2.png');
}

.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 25%;
}

.socialmedia img {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.socialmedia:hover img {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}

/*****************
DELETE IF NECCESSARY
*****************/

.css-slideshow{
  position: relative;
  max-width: 495px;
  height: 370px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
    box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
    position: absolute;
    top: 0;
    color: #fff;
    background: rgba(0,0,0, .3);
    font-size: .8em;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}

.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 48s 0s infinite;
}

@keyframes xfade {
  0% {
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/******
MEDIA QUERIES
*****/

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right;
    }
    
    #gallery li {
        width: 28.3333%;
    }
    
    #gallery li:nth-child(4n) {
        clear: left;
    }
    
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

::-webkit-scrollbar { 
    display: none; 
}

/***********************
DELETE IF NECCESSARY
************************/

#myCarousel {
    width: 600px;
    height: 300px;
    margin-right: 600px;
}


